.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 90px);
  background: #ffffff;
  padding: 0 80px;
  box-sizing: border-box;
}

.signup-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #5d3801;
  margin-bottom: 20px;
  text-align: center;
}

/*  Form Styling  */
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* Input fields */
.input-field {
  position: relative;
  width: 615px;
  height: 60px;
}

.input-field input {
  width: 100%;
  height: 100%;
  border: 1px solid #653e03;
  border-radius: 12px;
  padding: 16px 36px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  outline: none;
  color: #5d3801;
  background: transparent;
}

/* Floating label animation */
.input-field label {
  position: absolute;
  left: 36px;
  top: 18px;
  color: #7b5a26;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-field input:focus + label,
.input-field label.filled {
  top: -10px;
  left: 28px;
  font-size: 14px;
  background: #fff;
  padding: 0 6px;
  color: #5d3801;
}

/* Main button */
.signup-btn {
  width: 615px;
  height: 60px;
  background: #ff9900;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  transition: 0.3s;
}

.signup-btn:hover {
  background: #e68900;
}

/* Already have account */
.login-text {
  margin-top: 8px;
  font-size: 16px;
  color: #7b7b7b;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.login-link {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

/* Divider */
.divider {
  margin: 10px 0;
  font-size: 16px;
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
}

/* Social buttons */
.social-btn {
  width: 615px;
  height: 60px;
  border: none;
  border-radius: 12px;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}

.social-btn img {
  width: 22px;
  height: 22px;
}

.google {
  background-color: #ffe1b3;
}

.facebook {
  background-color: #ffe1b3;
}

.social-btn:hover {
  opacity: 0.9;
}

/* Right side illustration */
.signup-right img {
  width: 615px;
  height: auto;
}
/* Responsive */
@media (max-width: 1024px) {
  .signup-container {
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  .signup-right img {
    width: 80%;
    margin-top: 40px;
  }

  .input-field,
  .signup-btn,
  .social-btn {
    width: 100%;
  }
}
